#new-tweet {
  width: 100%;
  align-content: center;
  margin: 0, auto;
}

#tweet-text {
  resize: none;
  width: 100%;
  background: none;
  border: none;
  border-bottom: solid 5px black;
  font-family: "Source Sans Pro", sans-serif;
}

#button-counter {
  display: flex;
  justify-content: space-between;
}

.tweet-button {
  border: none;
  background-color: #4056A1;
  font-family: Bungee;
  color:#FFFF;
}

.counter {
  font-family: Bungee;
}

.red-color {
  color: red;
}


h3#alert-prompt {
  margin-top: 0.2em;
  padding: 0.3em;
  border: solid 4px red ;
  color: red;
  display: none;
  justify-content: center;
  align-items: center;
}
